@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  min-width: 0;
}


:root {
  background-color: #0c0a09;
  color: #fafaf9;
  --header-height: 62px
}

.gutter {
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');


  &:hover {
    background-color: #404040;
    cursor: col-resize;
  }
}

.min-h {
  min-height: calc(100dvh - var(--header-height));
}

#textarea-raw-code {
  background-color: #0d1117;
  color: #e6edf3;
}