@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

:root {
  --header-height: 62px
}

body {
@apply bg-zinc-950 text-zinc-200 antialiased

}

.min-h {
  min-height: calc(100dvh - var(--header-height));
}

.gutter {
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');


  &:hover {
    background-color: #404040;
    cursor: col-resize;
  }
}

.split-panel {
  position: relative;
}

.split-snapping-dot::after {
  content: '';
  position: absolute;
  bottom: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #404040;
  transform: translateX(-50%);
}

.split-snapping-dot::after {
  left: 50%;
}

#textarea-raw-code {
  background-color: #0d1117;
  color: #e6edf3;
}


li p {
  display: inline;
}