@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  min-width: 0;
}


:root {
  --header-height: 62px
}

body {
@apply bg-stone-950 text-stone-100
}

.min-h {
  min-height: calc(100dvh - var(--header-height));
}

.gutter {
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');


  &:hover {
    background-color: #404040;
    cursor: col-resize;
  }
}

#textarea-raw-code {
  background-color: #0d1117;
  color: #e6edf3;
}

/* MODAL ANIMATION */
@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}
/* END OF MODAL ANIMATION */
